<div data-ko-block="apps" class="c-apps">
  {{#> card}}
    <div data-ko-display="locale eq 1">
      <a href="https://itunes.apple.com/us/app/nebenan.de-fur-dich-und-deine/id1148895169?mt=8&utm_source=website_footer&utm_medium=dl_buttons&utm_campaign=app_launch&utm_term=iOS">
        <img src="{{image_url 'apple_store_fr.png'}}" alt="facebook" height="43" width="145">
      </a>
      &nbsp;&nbsp;&nbsp;
      <a href="https://play.google.com/store/apps/details?id=de.nebenan.app&utm_source=website_footer&utm_medium=dl_buttons&utm_campaign=app_launch&utm_term=android&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1">
        <img src="{{image_url 'play_store_fr.png'}}" alt="twitter" height="43" width="145">
      </a>
    </div>
    <div data-ko-display="locale eq 2">
      <a href="https://itunes.apple.com/us/app/nebenan.de-fur-dich-und-deine/id1148895169?mt=8&utm_source=website_footer&utm_medium=dl_buttons&utm_campaign=app_launch&utm_term=iOS">
        <img src="{{image_url 'apple_store_de.png'}}" alt="facebook" height="43" width="145">
      </a>
      &nbsp;&nbsp;&nbsp;
      <a href="https://play.google.com/store/apps/details?id=de.nebenan.app&utm_source=website_footer&utm_medium=dl_buttons&utm_campaign=app_launch&utm_term=android&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1">
        <img src="{{image_url 'play_store_de.png'}}" alt="twitter" height="43" width="145">
      </a>
    </div>
    <div data-ko-display="locale eq 3">
      <a href="https://itunes.apple.com/us/app/nebenan.de-fur-dich-und-deine/id1148895169?mt=8&utm_source=website_footer&utm_medium=dl_buttons&utm_campaign=app_launch&utm_term=iOS">
        <img src="{{image_url 'apple_store_it.png'}}" alt="facebook" height="43" width="145">
      </a>
      &nbsp;&nbsp;&nbsp;
      <a href="https://play.google.com/store/apps/details?id=de.nebenan.app&utm_source=website_footer&utm_medium=dl_buttons&utm_campaign=app_launch&utm_term=android&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1">
        <img src="{{image_url 'play_store_it.png'}}" alt="twitter" height="43" width="145">
      </a>
    </div>
    <div data-ko-display="locale eq 4">
      <a href="https://itunes.apple.com/us/app/nebenan.de-fur-dich-und-deine/id1148895169?mt=8&utm_source=website_footer&utm_medium=dl_buttons&utm_campaign=app_launch&utm_term=iOS">
        <img src="{{image_url 'apple_store_es.png'}}" alt="facebook" height="43" width="145">
      </a>
      &nbsp;&nbsp;&nbsp;
      <a href="https://play.google.com/store/apps/details?id=de.nebenan.app&utm_source=website_footer&utm_medium=dl_buttons&utm_campaign=app_launch&utm_term=android&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1">
        <img src="{{image_url 'play_store_es.png'}}" alt="twitter" height="43" width="145">
      </a>
    </div>
  {{/card}}
</div>
