<div data-ko-block="social" class="c-social">
  {{#> card}}
    <a href="{{config 'contact_facebook'}}">
      <img src="{{image_url 'facebook.png'}}" alt="facebook" height="40" width="40">
    </a>
    &nbsp;&nbsp;
    <a href="{{config 'contact_twitter'}}">
      <img src="{{image_url 'twitter.png'}}" alt="twitter" height="40" width="40">
    </a>
    &nbsp;&nbsp;
    <a href="{{config 'contact_instagram'}}">
      <img src="{{image_url 'instagram.png'}}" alt="instagram" height="40" width="40">
    </a>
  {{/card}}
</div>
